*{
    margin: 0%;
    padding: 0%;
}
#background1{
    background-image: url("images/menu/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width:50%;
    height:700px;
    background: #2a2730 ;
    margin-top: 30%;
    margin-left: 72%;
    transform: translate(-50%,-50%);
    prespective: 1000px;
}

.cover{
    width: 100%;
    height: 100%;
    margin-left: 7%;
    transform: rotateY(-20deg);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all .5s ease-in;
}

.container:hover .cover{
    transform: rotateY(-180deg);
}

figure{
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

figure.front{
    background: url("images/menu/cover.jpg");
    background-size: cover;
}

figure.back{
    background: #201c13;
    transform: rotateY(180deg);
}

#steak{
background-image: url("images/menu/grilled.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    transition: 0.5s;
    position: relative;
    margin-left: 4%;
}

#sheesh{
    background-image: url("images/menu/sheesh.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    transition: 0.5s;
    position: relative;
    margin-left: 4%;
}

#samka_boory{
    background-image: url("images/menu/samka.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    transition: 0.5s;
    position: relative;
    margin-left: 4%;
}

#shrimp{
    background-image: url("images/menu/shrimp.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    transition: 0.5s;
    position: relative;
    margin-left: 4%;
}

#molten_cake{
    background-image: url("images/menu/molten_cake.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    transition: 0.5s;
    position: relative;
    margin-left: 4%;
}

#cheese_cake{
    background-image: url("images/menu/cheese_cake.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    transition: 0.5s;
    position: relative;
    margin-left: 4%;
}
/*#kofta{*/
    /*background-image: url("images/menu/kofta.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    /*background-position:center;*/
    /*transition: 0.5s;*/
    /*position: relative;*/
    /*margin-left: 4%;*/
/*}*/

.col-sm-4:hover{
    background-size: 110%;
}
.col-sm-4:after{
    position: absolute;
    left: 0;
    top: 85%;
    right: 0;
    bottom: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: rgba(127,136,179,0.3);
    color: white;
    padding: 2%;
    content: attr(data-text) ;
    transition: 0.5s;
}
.col-sm-4:hover:after{
    top:0;
    background-color:rgba(127,136,179,0.6);
}
.col-sm-4:first-line{
    color:yellow;
    font-weight: bold;
    font-size: 100%;
}


#sec_page{
    position: absolute;
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 1s;
}

.cover:hover #sec_page{
    opacity: 1;
}
.container:hover #sec_page{
    opacity: 1;
}

.check{
    position: absolute;
    z-index: 4;
}